@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: normal; /* or 400 */
  src: url(./serif_medium.ttf) format('ttf');
}
@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: bold; /* or 700 */
  src: url(./serif_bold.ttf) format('ttf');
}
